@mixin blurred-curves {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(16px) sepia(30%);
  border-radius: 20px;
  height: 100%;
}

.glossary {
  &-page {
    display: grid;
    grid-template-columns: 5fr 11fr;
    height: 100vh;
  }

  &-container {
    background-image: url('../assets/campanula_collina.jpg');
    background-size: cover;
    background-position-y: 45%;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 75px 44fr 5fr;
    grid-template-columns: 10fr 54fr 5fr;
  }

  &-search {
    grid-column: 1 / 2;
    background: #FCFCFC;
    display: grid;
    grid-template-rows: 75px 300px 48fr;
    grid-template-columns: 1fr 6fr 1fr;
  }

  &-filters {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    box-shadow: 0 0 0 1pt #282828;
    border-radius: 25px;
    padding-top: 55px;
    padding-inline: 12px;
    line-height: 2.3em;
  }

  &-searchresults {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  &-searchbar {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border-radius: 40px;
    box-shadow: 0 0 0 1pt #282828;
    height: 50px;
    display: grid;
    grid-template-columns: 0px 1fr 50px;
    gap: 10px;
  }

  &-details {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 5fr 3fr 36fr;
  }

  &-chars {
    grid-row: 1 / 2;
    display: grid;
    // 54 fr
    grid-template-columns: 16fr 3fr 16fr 3fr 16fr;
  }

  &-char {
    @include blurred-curves;
    display: grid;
    grid-template-columns: 5fr 11fr;

    &-text {
      justify-self: center;
      align-self: center;
      color: #888;
    }
  }

  &-icon {
    @include blurred-curves;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-img {
      height: 50px;
      width: auto;
      filter: invert(50%);
    }
  }

  &-description {
    color: white;
    padding: 40px;
    grid-row: 3 / 4;
    @include blurred-curves;

    &-text {
      margin-block: 10px;

      &2 {
        margin-bottom: 30px;
      }
    }
  }
}

.icon {
  height: 100%;
  width: 100%;
  color: #bbb;
}

.searchbar-button {
  margin-top: -1px;
  margin-right: -1px;
  padding: 8px;
  height: 52px;
  width: 52px;
  background-color: #282828;
  border: none;
  border-radius: 40px;
}

.searchbar-filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  height: 50px;
  width: 50px;
}

.searchbar-input {
  padding: 10px 4px 10px 0px;
  margin-left: 52px;
  &:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
  }
}

.filter-img {
  height: 40px;
  width: 40px;
}

.searchresult-card {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 100px;
  gap: 10px;
  padding: 15px;
}

.img-icon {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-image: url('../assets/stock_flower.jpg');
  background-size: cover;
  background-position-x: -18px;
}

.plant-label {
  display: grid;
  justify-content: left;
  align-items: center;
}
